/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mari's CSS */


@font-face {
	font-family: 'Proxima Nova';
	src: url(fonts/proxima-nova-regular.otf);

	
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url(fonts/proxima-nova-bold.otf);
	font-weight:bold;
	
}

body {
	height:100%;
	font-family: 'Proxima Nova' Helvetica;
	color: #4e5258;
	
}
#container {
	width: 940px;
	margin: auto;
}

.blog_text h3 {
	text-transform: uppercase;
	font-size: 10px;
}


header {
	display: block;
	background-color: #424348;

	}

	header ul {
		width: 940px;
		display: block;
		text-align: right;
		padding: 15px;
		margin: 0 auto;
	}

		header ul li {
			font-family: 'Proxima Nova' Helvetica;
			font-weight: 'Regular';
			letter-spacing: .1em;
			font-size: 14px;
			color:#787a7f;
			display: inline-block;
			padding-left: 15px;
		}
header a {
	color:#a8abb2;
	text-decoration:none;
		}
header a:hover {
	color: #ffffff;
}

input { 
	display: block;
	width:150px;
	height:30px;
	border: 1px solid #4d5056;
	background: #4d5056;
	display: none}
	
.logo img {
	display: block;
	margin: 0 auto;
	padding: 40px;
}

nav {
	display: block;
	width: 940px;
}

nav ul {
	text-align: center;
	margin-bottom: 20px;
	
}

nav ul li {
	font-family: 'Proxima Nova';
	font-weight: 'Regular';
	font-size: 15px;
	text-transform: uppercase;
	color: ##424348;
	display: inline-block;
	padding: 0px 15px 15px 0px;
	letter-spacing:.15em;
}

nav a {
	color:#2a9f9b;
	text-decoration:none;
}

nav a:hover{
	color:#0f8783;
}
#feature_container {
	width: 940px;
	position: relative;
	margin: 0px auto;
	margin-top: -30px;
}

#feature_text {
	z-index: 100;
	width: 940px;
	position: absolute;
	text-align: center;
	margin: 110px auto;
}

#feature_text img {
	width: 530px;
	margin: 0px auto;
	position:relative;
	
}

#feature_image {
	width: 940px;
	position: relative;
	margin: 40px auto;
}

#headline {
	width: 400px;
	z-index: 100;
	margin: 0 auto;
}


#headline p {
	font-family: 'Proxima Nova';s
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	letter-spacing: .1em;
}

#button {
	z-index:100;
	}

#button a {
	z-index:100;
	position: absolute;
	width: 200px;
	height:55px;
	background: #2a9f9b;
	color: #ffffff;
	text-decoration:none;
	font-family: 'Proxima Nova';
	font-weight: Bold;
	font-size:12px;
	letter-spacing:.1em;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	line-height:55px;
	margin: 300px 370px;
	
}

#button a:hover{
	background: #0f8783;
	text-decoration:none;
	
}

#projects {
	margin-top: -50px;
}

	.img_container {
		width: 220px;
		height: 220px;
		display: block;
		float:left;
		text-align: center;
		padding-right: 20px;
		margin-top: 30px;
		}
	
		.img_container p {
			margin: 20px;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: .1em;
			font-weight:bold;
		}
	
		.img_container:nth-child(4) {
			padding-right: 0px;
		}
		
		.img_container a {
			text-decoration:none;
			color:#4e5258;
		}	
		
		.img_container a:hover {
			color: #0f8783;
		}
.divider {
	position: relative;
	display:block;
	width: 940px;
	text-align: center;
	}

hr {
  	background: #ddd; 
  	clear: both; 
  	float: none; 
  	width: 100%; 
  	height: 1px;
  	border: none;
}

.blog_text {
	background:#f1f5f6;
	width:300px;
	height:60px;
	margin-top: 0px;
	
}

.blog_text a {
	text-decoration:none;
	color: #4e5258;
}

.blog_text a:hover {
	color: #0f8783;
}

	.blog_post {
		position: relative;
		margin-top: 30px;
		width: 300px;
		display: block;
		float: left;
		text-align: center;
		padding-right: 20px;
	}

	.blog_post:nth-child(3) {
		padding-right: 0px;
	}
	
	.blog_post:nth-child(6) {
		padding-right: 0px;
	}


	.blog_text h3 {
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		line-height: 15px;
		letter-spacing:.15em;
		margin-top: -4px;
		padding-top:15px;
	}
	
	.blog_text p {
		font-family: Times;
		text-transform:uppercase;
		font-size:14px;
		letter-spacing:.1em;
	}
footer { 
	clear: both;
	height:44px;
	height: 50px;
	padding-bottom:12px;
	}
#copyright {
	margin-top:80px;
	margin-bottom:12px;
	float:left;
}

#footer_nav {
	margin-top:80px;
	float: right;
}

p {
	font-size: 12px;
	font-color:#d6d6d6;
}








